/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.nav__list {
    margin-top: 100px;
}

.nav__item {
    font-size: 65px;
    margin: 30px;
    text-shadow:
    -1px -1px 0 aqua,
    1px -1px 0 aqua,
    -1px 1px 0 aqua,
    1px 1px 0 aqua;
}

.nav__link:hover {
    color: green;
}

  .container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

