<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">

</head>
<body>
    <div class="container">
        <a class="home_link" href="../index.html">Home</a>
        <section class="todo_section">
          <h1 class="todo_title">TODO LIST</h1>
          <form class="todo__form">
            <label class="todo__label">
              <input class="todo__input" type="checkbox" name="task-1" value="Gym">
              Gym
            </label>
            <label class="todo__label">
                <input class="todo__input" type="checkbox" name="task-2" value="Pool">
                Pool
              </label>
              <label class="todo__label">
                <input class="todo__input" type="checkbox" name="task-3" value="Breakfast">
                Breakfast
              </label>
              <label class="todo__label">
                <input class="todo__input" type="checkbox" name="task-4" value="Take a nap">
                Take a nap
              </label>
          </form>
        </section>
        <script type="module" src="../js/task1.js"></script>
      </div>
</body>
</html>