<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a class="home_link" href="../index.html">Home</a>
        <h1 class="todo_title">FEEDBACK FORM</h1>
        <form class="feedback-form" action="">
            <label>
                <b>NAME</b>
                <input type="text" name="name" placeholder="Enter your name">
            </label>
            <label>
                <b>MESSAGE</b>
                <textarea name="message" rows="6" id=""></textarea>
            </label>
            <button type="submit">LEAVE YOUR MESSAGE</button>

        </form>
    </div>
    <script type="module" src="../js/task2.js"></script>
</body>
</html>