<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Bookmarks</h1>
    <form class="bookmark-form">
        <label>
            <input placeholder="enter a title of bookmark" type="text" id="bookmarkTitle">
        </label>
        <label>
            <input placeholder="enter url for bookmark" type="url" id="bookmarkUrl">
        </label>
        <button type="submit" id="addBookmark">Add Bookmark</button>
    </form>

    <h2>Contacts</h2>
    <ul id="bookmarksList"></ul>
    <script type="module" src="../js/task4.js"></script>
</body>

</html>